
__pycache__/
.env
*.toml
*.url
*.csv
*.tsv
*.xlsx
*.zip
*.txt
*.png
*.svg
*.lnk
*.pdf
bars
quotes
quotes2
documentation/outdated docs
trading_bot/reject

trading_bot/trading_bot.egg-info/PKG-INFO
trading_bot.egg-info/PKG-INFO
setup.py
