
__pycache__/
.env
*.toml
*.url
*.csv
*.tsv
*.xlsx
*.zip
*.txt
*.png
*.svg
*.lnk
*.pdf
*.html
bars
quotes
quotes2
documentation/outdated docs
trading_bot/reject
reject

trading_bot/trading_bot.egg-info/PKG-INFO
trading_bot.egg-info/PKG-INFO
setup.py

!trading_bot/example backtesting results output/**
trading_bot/restart_run_notebooks.py
/trading_bot/.vscode
